%% -*- erlang -*-

{deps,
 [
  {meck, ".*", {git,"https://github.com/eproxus/meck.git",{tag,"0.8"}}},
  {autohelp, ".*", {git,"https://github.com/stolen/autohelp.git",{tag,"94e3835c"}}}
 ]}.

{edoc_opts, [no_packages]}.

{recursive_cmds, [clean]}.

{eunit_opts, [verbose]}.
{cover_enabled,true}.
{cover_print_enabled, true}.
