%% -*- erlang -*-

{deps,
 [
  {meck, ".*", {git,"https://github.com/eproxus/meck.git",{tag,"0.8.2"}}},
  {autohelp, ".*", {git,"https://github.com/stolen/autohelp.git",{tag,"94e3835c"}}},
  {unite, "", {git, "git://github.com/eproxus/unite.git"}}
 ]}.

{edoc_opts, [no_packages]}.

{recursive_cmds, [clean]}.

% {eunit_opts, [ verbose ]}.
{eunit_opts, [no_tty, {report, {unite_compact, [profile]}}]}.
{cover_enabled,true}.
{cover_print_enabled, true}.
